<!DOCTYPE html>
<html>
<head>
  <title>ValidationsInControllerActionsRailsLab</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= render: 'shared/form_errors' %>
<%= yield  %>

</body>
</html>
